<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/tab2.css">
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='tab5.js')}}" ></script>
		<script src="http://d3js.org/d3.v4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/topojson.v1.min.js"></script>
    </head>
    <body onload="handle_pageload()" >
        <div id="page-head" style="width: 100%;height: 10%;text-align: center;border: 1px black dotted;border-radius: 3px;">
            <h2>Nations - Terrorist Groups and Activities </h2>
        </div>
        <div id="page-center" style="width:100% ; height:85% ;text-align: center; " >
			<div style="width: 100%;height: 10%;text-align: center;border: 1px black dotted;border-radius: 3px;float:left;">
				<div style="margin-left:36%;margin-top:15px;float:left">
					<div style="margin-left:20px;float:left">
						<label>Country</label>
						<select id="country" name="country" >
						</select>
					</div>				
					<div style="margin-left:20px;float:left">
						<label>Decade</label>
						<select id="decade" name="decade" >
							<option value="5">2010-17</option>
							<option value="4">2000-10</option>
							<option value="3">1990-2000</option>
							<option value="2">1980-90</option>
							<option value="1">1970-80</option>
						</select>
					</div>
					<div style="margin-left:20px;float:left">
						<button onclick="on_scat_change()" >Go!</button>
					</div>
				</div>
			</div>
			<div class="loader" id="loader" style="margin-left:50%;visibility:hidden;"></div>
			<div id="main" style="width: 100%;height: 90%;text-align: center;border: 1px black dotted;border-radius: 3px;">
				
				<div style="width:40% ; height:100% ; text-align: center;float: left; border: 1px black dotted;border-radius: 3px;" >
					 <div > <h3>Scatter Plot: Terroristic Activities</h3></div>
					 <div id="graph1"  ></div>
					 
                </div>
				<div style="width:20% ; height:100% ; text-align: center;float: left; border: 1px black dotted;border-radius: 3px;">
					<svg id="legends"  ></svg>
				</div>
				<div style="width:40% ; height:100% ; text-align: center;float: left; border: 1px black dotted;border-radius: 3px;" >
						<div ><h3>Terroristic Group Hierarchy</h3></div>
                        <div id="graph2" ></div>
						<br/>

                </div>
			</div>
        </div>
    </body>
</html>